%footer
  .row
    .medium-6.columns
      %dl
        %dt &Uuml;ber uns
        %dd 
          %a{:href => "#"} mehr Infos
        %dd 
          %a{:href => "#"} Kontakt / Impressum
    .medium-6.columns
      %dl
        %dt Unsere Kurse
        %dd
          %a{:href => "#"} Digital Intro
        %dd
          %a{:href => "#"} Security
        %dd
          %a{:href => "#"} Internet of Things