---
title: digital 4.0 | digital gewandelt
---

.contain-to-grid.fixed
  %nav.top-bar{:role => "navigation", :data => { :topbar => true }}
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"}
            %img{:src => "images/digital_wh.svg", :alt => "Digital 4.0", :class => "logo"}/
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu

    %section.top-bar-section.nav__menu
      %ul.right
        %li
          %a{:href => "#"} &Uuml;ber uns
        %li
          %a{:href => "#"} Kontakt


%section#jumbotron
  #ctawrapper
    .row
      .medium-7.large-6.columns
        %h1 Coden, ausprobieren, verstehen und neu denken
        %h3 Unsere Workshops machen Sie fit f&uuml;r den digitalen Wandel
    .row
      .medium-6.large-5.columns#cta
        %a{:href => "#", :class => "large button hide-for-small"} Jetzt informieren
        %a{:href => "#", :class => "small button show-for-small"} Jetzt informieren

/ %section.banderole
/   .row
/     .small-8.columns
/       Demn&auml;chst

%section.content
  .row
    .medium-6.columns
      %h3 Top Content
    .medium-6.columns
      %h3 Top Ergebnisse